<section class="header-chat">
<div>
    <div class="header-icons">
        <h2>Chats</h2>
        <div class="img-icons">
            <img class="imagem" src="./img/bell.svg" alt="bell">
            <img class="imagem" src="./img/apps.svg" alt="square">
            <img class="imagem" src="./img/more.svg" alt="more">
        </div>
    </div>
    <div class="input-icons">
        <div class="">
            <select id="Chats-channel" name="Chats-channel">
                <option value="All Chats">All Chats</option>
                <option value="Friends">Friends</option>
                <option value="Groups">Groups</option>
                <option value="Unread">Unread</option>
                <option value="Archived">Archived</option>
            </select>
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="Search users">
            <button type="submit"><img class="search-img" src="./img/search.svg" alt="search"></button>
        </div>
    </div>
</div>
</section>
<main class="main-content">
    <div class="chat">
        <img class="profile" src="./img/users-1.svg" alt="person-1">
        <h3 class="people">Bonnie Torres<span class="status">Online</span></h3>
        <p class="text">I'm sorry, I didn't catch that. Coul...</p>
    </div>
    <div class="chat">
        <img class="profile" src="./img/users-2.svg" alt="person-2">
        <h3 class="people">Catherine Richardson<span class="status">Online</span></h3>
        <p class="text">Jeny: That's pretty common. I ...</p>
    </div>
    <div class="chat">
        <img class="profile" src="./img/users-3.svg" alt="person-3">
        <h3 class="people">Eva Walker<span class="status">Online</span></h3>
        <p class="text">I'm working hard in Maths, Ph...</p>
    </div>
    <div class="chat">
        <img class="profile" src="./img/users-4.svg" alt="person-4">
        <h3 class="people">John Paul<span class="status">Online</span></h3>
        <p class="text">Catch you later! Bye-bye!</p>
    </div>
    <div class="chat">
        <img class="profile" src="./img/users-5.svg" alt="person-4">
        <h3 class="people">Tammy Martinez<span class="status">Online</span></h3>
        <p class="text">I think I have everything I need, thank you!</p>
    </div>
</main>
<footer>

</footer>
<script src="./js/script.js"></script>