.edit_user .form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.edit_user div label {
    text-align: center;
}

.edit_user div i,
.edit_user div em {
    font-size: 12px;
    text-align: center;
}

.edit_user_registrations h3,
.edit_user_registrations p {
    padding: 5px;
}

.edit_user_registrations p {
    font-style: italic;
}

.button_to input {
    padding: 10px 20px;
    color: #f8f9fa;
    background-color: #665dfe;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
