footer {
    height: 3rem;
    background-color: #665dfe;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

footer img {
    width: 2.8rem;
    cursor: pointer;
    padding: 5px 10px;
}
