header {
    background-color: #665dfe;
    min-height: 60px;
}

header .logo-img {
    width: 160px;
    height: 40px;
}

header div {
    color: #f8f9fa;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 35px;
    border-radius: 25px;
    padding: 0;
}

header a,
header h4 {
    color: #f8f9fa;
}

header a {
    text-decoration: none;
}

.header-fix-content div {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
}

.user-info h4 {
    display: none;
}

.logout img {
    padding: 5px;
    width: 40px;
}

/* @todo refactor move to a more approprieted css file */
.toast-error .toast-message {
    color: red;
}

.toast-info .toast-message {
    color: green;
}

.toast-error div, .toast-info div{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 400px) {
    header .logo-img {
        width: 200px;
    }

    header img {
        width: 40px;
    }

    .user-info h4 {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    header .logo-img {
        width: 240px;
    }
    .user-info h4 {
        display: block;
        text-align: center;
    }

}