form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form img {
  width: 230px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.div-form input {
  // width: 280px;
  padding: 0.7rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.femail,
.fpassword {
  display: block;
}

.button {
  padding: 1rem;
}

.button input {
  // width: 280px;
  padding: 0.7rem;
  background-color: #665dfe;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

#btn-sign:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition-delay: 0.5s;
}

.button p {
  padding: 5px 0px;
  text-align: right;
}

.signup {
  padding: 20px 0px;
}

a {
  color: #665dfe;
  font-weight: bold;
}