/* esse estilização não está funcionando, 
preciso que ela seja o Body das páginas de cadastros*/

// body {
//     max-width: 350px;
//     height: 100vh;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #d5d2ff;
//     color: #545454;
//     display: flex;
//     justify-content: center;
// }

// .login_page {
//     background-color: #d5d2ff;
// }

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form img {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.form-register {
    padding: 1rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.div-form input {
    width: 280px;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

.femail,
.fpassword {
    display: block;
}

.button {
    padding: 1rem;
}

.button input {
    width: 280px;
    padding: 0.7rem;
    background-color: #665dfe;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#btn-sign:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-delay: 0.5s;
}

.button p {
    padding: 5px 0px;
    text-align: right;
}

.signup,
.checkout {
    padding: 20px 0px;
}

a {
    color: #665dfe;
    font-weight: bold;
}
