@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body */
body {
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
    color: #545454;
}

header {
    background-color: #665dfe;
    min-height: 60px;
}

header div {
    color: #f8f9fa;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px;
    border-radius: 25px;
}

header a,
header h4 {
    color: #f8f9fa;
}

header a {
    text-decoration: none;
}

.header-fix-content div {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.logout img {
    padding: 5px;
    width: 40px;
}

/* @todo refactor move to a more approprieted css file */
.toast-error .toast-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

main {
    display: flex;
}
