<div>    
    <footer class="footer">
        <img class="footer-icon" src="/images/chat.svg" alt="chat-conversation">
        <img class="footer-icon" src="/images/phone.svg" alt="phone">
        <img class="footer-icon" src="/images/people-speak.svg" alt="people-speak">
        <img class="footer-icon" src="/images/person.svg" alt="person-icon">
    </footer>
</div>