<div>    
    <footer class="footer">
        <img class="footer-icon" src="./img/chat.svg" alt="chat-conversation">
        <img class="footer-icon" src="./img/phone.svg" alt="phone">
        <img class="footer-icon" src="./img/people-speak.svg" alt="people-speak">
        <img class="footer-icon" src="./img/person.svg" alt="person-icon">
    </footer>
</div>